@using ControlUniversitario.Entities
@using ControlUniversitario.Models
@model List<Estudiante>

@{
    ViewBag.Title = "Index";
    ViewBag.ActionTitle = "Gestión de Estudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="pb-3">Gestión de Estudiantes</h2>
    <div class="row d-md-flex justify-content-md-end pb-3">

        @Html.ActionLink("+ Ingresar estudiante", "Nuevo", new { }, new { @class = "col-md-2 col-12 btn btn-outline-primary" })
    </div>

    @if (TempData["MensajeExito"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MensajeExito"]
        </div>
    }
    <table class="table pt-3 ">
        <thead class="table-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Identificación</th>
                <th scope="col">Nombre</th>
                <th scope="col">Primer Apellido</th>
                <th scope="col">Segundo Apellido</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col">Fecha de Ingreso</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {

                var estudiante = Model[i];
                var numeroDeFila = i + 1;

                <tr>
                    <th scope="row">@numeroDeFila</th>
                    <td>@estudiante.Identificacion</td>
                    <td>@estudiante.Nombre</td>
                    <td>@estudiante.PrimerApellido</td>
                    <td>@estudiante.SegundoApellido</td>
                    <td>@estudiante.FechaDeNacimiento.ToShortDateString()</td>
                    <td>@estudiante.FechaDeIngreso</td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = estudiante.EstudianteID }, new { @class = "btn btn-sm btn-outline-info" })

                        <a href="#" class="btn btn-sm btn-danger ms-1"
                           dialogo-titulo="Eliminar estudiante con cédula @estudiante.Identificacion"
                           dialogo-datos="@estudiante.EstudianteID"
                           dialogo-mensaje="¿Está seguro que desea eliminar el estudiante?"
                           data-bs-toggle="modal" data-bs-target="#dialogoEliminar">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @using (Html.BeginForm("Eliminar", "Estudiantes", new { }, FormMethod.Post, new { @name = "eliminarForm" }))
    {
        <input type="hidden" name="estudianteID" />
    }

    @Html.Partial("_Dialogo", new DialogoModelo() { Id = "dialogoEliminar", ClaseBoton = "btn btn-danger", TextoBotonAceptar = "Eliminar" })
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            dialogo("dialogoEliminar", (dato) => {
                let formularioEliminar = document.forms.eliminarForm;
                formularioEliminar.estudianteID.value = dato;
                formularioEliminar.submit();

            });

        }, false);
    </script>
</div>

