@using ControlUniversitario.Models

@model CarreraModelo

@{
    ViewBag.Title = "Página Inicio";
}

<div class="row">

    <div class="col-6 offset-3">
        @using (Html.BeginForm("Cursos", "Carreras", new { }, FormMethod.Post, new { @name = "formularioCarrera" }))
        {
            @Html.DropDownList("CarreraSeleccionada", Model.Carreras, new { @class = "form-select" });

        }
    </div>

    <div class="col-6 offset-3 pt-4">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre del curso</th>
                    <th class="text-end" scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Cursos == null || Model.Cursos.Count == 0)
                {
                    <tr>
                        <td class="text-center" colspan="3">
                            No hay cursos asociados
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var curso in Model.Cursos)
                    {
                        <tr>
                            <th scope="row">1</th>
                            <td>@curso.NombreDelCurso</td>
                            <td class="text-end">
                                <a href="#" class="btn btn-sm btn-danger ms-1"
                                   dialogo-titulo="Remover cursos de la carrera de @Model.NombreCarreraSeleccionada"
                                   dialogo-datos="@Model.CarreraSeleccionada,@curso.CursoID"
                                   dialogo-mensaje="¿Está seguro que desea eliminar el curso @curso.NombreDelCurso?"
                                   data-bs-toggle="modal" data-bs-target="#dialogoEliminarCurso">Remover</a>
                            </td>
                        </tr>
                    }
                }


            </tbody>
        </table>
        @Html.Partial("_Dialogo", new DialogoModelo() { Id = "dialogoEliminarCurso", ClaseBoton = "btn btn-danger", TextoBotonAceptar = "Remover" })
        <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            dialogo("dialogoEliminarCurso", (dato) => {

                console.log(dato)
            });

        }, false);
        </script>
    </div>

</div>

@Scripts.Render("~/bundles/carreras")