@using ControlUniversitario.Models
@model EstudianteModelo

<div class="mb-3">
    @Html.LabelFor(model => model.Identificacion, "Identificación")
    @Html.TextBoxFor(model => model.Identificacion, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Identificacion)
</div>
<div class="mb-3">
    @Html.LabelFor(model => model.Nombre, new { })
    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Nombre)
</div>
<div class="mb-3">
    @Html.LabelFor(model => model.PrimerApellido, "Primer apellido")
    @Html.TextBoxFor(model => model.PrimerApellido, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.PrimerApellido)
</div>
<div class="mb-3">
    @Html.LabelFor(model => model.SegundoApellido, "Segundo apellido")
    @Html.TextBoxFor(model => model.SegundoApellido, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.SegundoApellido)
</div>
<div class="mb-3">
    @Html.LabelFor(model => model.FechaDeNacimiento, "Fecha de nacimiento")
    @Html.TextBoxFor(model => model.FechaDeNacimiento, new { @class = "form-control", @type = "date" })
    @Html.ValidationMessageFor(model => model.FechaDeNacimiento)
</div>
